html
  head
    title index
  body
    .continer
      .row
        .well.col-md-12
          h3 index
          ul
            li
              a(href='/protected') protected resource  
          h3 logout
          ul
            li
              a(href='/logout') global logout

      if util.isLogined()
        p you logined successfully.
        p!= 'your name is ' + util.username()
        if util.hasRole('admin')
          p you have admin role!
        else
          p you don't have admin role..
      else
        p you are not logined.
  
