html
  head
    title index
  body
    .continer
      .row
        .well.col-md-12
          h3 index
          ul
            li
              a(href='/myoauth/signin') myauth signin  
          h3 user profile
          ul
            li
              a(href='/myoauth/profile') myauth profile
          h3 logout
          ul
            li
              a(href='/myoauth/logout') logout
  