html
  head
    title index
  body
    .continer
      .row
        .well.col-md-12
          h3 index
          ul
            li
              a(href='/protected') protected resource  
          h3 logout
          ul
            li
              a(href='/logout') global logout
  